@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHome";
}

@model CinemaBookingWeb.ViewModels.HomePageViewModel

<!-- Sử dụng Model.MainBanners cho carousel -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @if (Model.MainBanners != null && Model.MainBanners.Any())
        {
            for (int i = 0; i < Model.MainBanners.Count; i++)
            {
                var banner = Model.MainBanners[i];
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <img src="@banner.ImageUrl" class="d-block w-100" alt="Banner @i">
                </div>
            }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

</br>

<style>
    .movie-title-dang-chieu {
        text-align: center !important;
        font-size: 2.5rem !important; /* Kích thước lớn */
        font-weight: bold !important; /* Làm đậm */
        color: var(--primary-color);
        !important; /* Màu sắc */
    }
</style>
<h2 class=" movie-title-dang-chieu text-2xl font-bold mb-4">Phim Đang Chiếu </h2>


<section class="movies">
    <div class="container">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 justify-center">
            @foreach (var movie in Model.Movies)
            {
                <a href="@Url.Action("Detail", "MoviesDetail", new { Id = movie.MovieId })">
                    <div class="movie-item text-center p-4 border rounded shadow">
                        <img src="~/img/@movie.ImageUrl" alt="@movie.Title" class="w-full h-auto mb-2">
                        <h3 class="movie-item-title text-lg font-semibold">@movie.Title</h3>
                        <p>Thể loại: @movie.Genre</p>
                    </div>
                </a>
            }
        </div>
    </div>
</section>