@model List<CinemaBookingWeb.Models.Bookings>

<link rel="stylesheet" href="~/css/css_admin_list.css" />

<h1>Danh sách Đơn Hàng</h1>
<form method="get" asp-action="Index" class="d-flex mb-3">
	<input type="text" id="phoneNumber" name="phoneNumber" class="form-control me-2 w-auto" placeholder="Nhập số điện thoại" />
	<button type="submit" class="btn btn-primary w-auto">Tìm kiếm</button>
	<a asp-action="Index" class="btn btn-secondary">Reset</a>
</form>

<table class="table">
	<thead>
		<tr>
			<th>BookingId</th>
			<th>UserId</th>
			<th>PhoneNumber</th>
			<th>ShowtimeId</th>
			<th>BookingDate</th>
			<th>TotalPrice</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var bookings in Model)
		{
			<tr>
				<td>@bookings.BookingId</td>
				<td>@bookings.UserId</td>
				<td>@bookings.Users?.Phone</td>
				<td>@bookings.ShowtimeId</td>
				<td>@bookings.BookingDate.ToString("yyyy-MM-dd HH:mm")</td>
				<td>@bookings.TotalPrice</td>
				<td>
					@if (@bookings.Status == 1)
					{
						<span class="status-active">Đã thanh toán</span>
					}
					else if (bookings.Status == 2)
					{
						<span class="status-inactive">Chưa thanh toán</span>
					}
					else
					{
						<span class="status-cancel">Hủy</span>
					}
				</td>
				<td>
					@Html.ActionLink("Xem chi tiết", "BookingsDetails", new { id = bookings.BookingId })
				</td>
			</tr>
		}
	</tbody>
</table>
