<link rel="stylesheet" href="~/css/css_admin_list.css" />

<h1>Danh sách người dùng</h1>
<div class="mb-3">
	<a asp-action="Create" class="btn btn-success">Thêm người dùng mới</a>
</div>

<table class="table">
	<thead>
		<tr>
			<th>UserId</th>
			<th>Username</th>
			<th>Password</th>
			<th>Email</th>
			<th>Phone</th>
			<th>SignupDate</th>
			<th>Role</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model)
		{
			<tr>
				<td>@user.UserId</td>
				<td>@user.UserName</td>
				<td>@user.Password</td>
				<td>@user.Email</td>
				<td>@user.Phone</td>
				<td>@user.SignupDate</td>
				<td>@user.Role</td>
				<td>
					@if (@user.Status == 1)
					{
						<span class="status-active">Hoạt động</span>
					}
					else
					{
						<span class="status-inactive">Không hoạt động</span>
					}
				</td>
				<td>
					@Html.ActionLink("Sửa", "Edit", new {id = user.UserId})
				</td>
			</tr>
		}
	</tbody>
</table>