<h2>Danh sách người dùng</h2>
<p>@Html.ActionLink("Tạo user mới", "Create")</p>

<table class="table">
	<thead>
		<tr>
			<th>UserId</th>
			<th>Username</th>
			<th>Password</th>
			<th>Email</th>
			<th>Phone</th>
			<th>SignupDate</th>
			<th>Role</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model)
		{
			<tr>
				<td>@user.UserId</td>
				<td>@user.UserName</td>
				<td>@user.Password</td>
				<td>@user.Email</td>
				<td>@user.Phone</td>
				<td>@user.SignupDate</td>
				<td>@user.Role</td>
				<td>
					  @(user.Status == 1 ? "Hoạt động" : "Không hoạt động")
				</td>
				<td>
					@Html.ActionLink("Chỉnh sửa", "Edit", new {id = user.UserId})
				</td>
			</tr>
		}
	</tbody>
</table>