@model IEnumerable<CinemaBookingWeb.Models.Movies>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/css_admin_list.css" />

<h1>DANH SÁCH PHIM</h1>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-success">Thêm phim mới</a>
</div>


<form method="get" asp-controller="Movies" asp-action="Index" class="d-flex mb-3">
    <input type="text" name="searchString" class="form-control me-2 w-auto" placeholder="Tìm kiếm" value="@ViewData["CurrentFilter"]" />
    <button type="submit" class="btn btn-primary w-auto">Tìm kiếm</button>
    <a asp-action="Index" class="btn btn-secondary">Reset</a>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrailerUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrailerUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td> *@
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="status-active">Đang Chiếu</span>
                    }
                    else
                    {
                        <span class="status-inactive">Ngừng chiếu</span>
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> 
            </td>
        </tr>
}
    </tbody>
</table>


