@{
    ViewData["Title"] = "ticket";
    Layout = "_LayoutHome";
}
@model tickets;
<style>



    /* Active section */
    .ticket_active {
        display: flex;
        justify-content: center;
        padding: 20px;
        width: 100%;
    }

        .ticket_active > .ticket_left {
            padding: 20px;
            width: 60%;
        }

        .ticket_active > .ticket_sidebar {
            padding: 20px;
            width: 30%;
        }
    /* Navigation */
    .ticket_nav-tabs {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .ticket_nav-tabs li {
            padding: 10px 20px;
            cursor: pointer;
        }

    .ticket_active-tab {
        border-bottom: 2px solid blue;
        font-weight: bold;
        color: blue;
    }


    .ticket_seat {
        width: 30px;
        height: 30px;
        border: 1px solid #333;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        border-radius: 10px 10px 10px 10px;
    }

    .ticket_reseveSeat {
        width: 30px;
        height: 30px;
        border: 1px solid #333;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        background-color: red;
        border-radius: 10px 10px 10px 10px;
    }

    .ticket_selected {
        background-color: orange;
    }



    /*tab4*/
    .ticket_card-header {
        background-color: #ff7e00;
        color: white;
        font-weight: bold;
    }

    .ticket_price {
        font-weight: bold;
        color: #ff7e00;
    }

    .ticket_tag-rating {
        background-color: #ffcc00;
        color: black;
        font-weight: bold;
        padding: 2px 6px;
        border-radius: 4px;
    }

    .ticket_movie-title {
        font-weight: bold;
        border: 0;
    }

    .ticket_total {
        font-size: 1.2rem;
        font-weight: bold;
        color: #000;
    }
</style>
<body>

    <div style="display:flex; justify-content:center;">
        <ul class="ticket_nav-tabs" class="text-center ">
            <li id="choose-movie">Chọn phim / Rạp / Suất</li>
            <li class="ticket_active-tab" id="choose-seat">Chọn ghế</li>
            <li id="choose-combo">Chọn thức ăn</li>
            <li id="choose-pay">Thanh toán</li>
        </ul>

    </div>
    <div id="seat-selection" class=" ticket_active">
        <div class="ticket_left">
            <h2>Chọn ghế</h2>
            <form id="formSeats" method="post" asp-action="ChoiceSeats" asp-controller="tickets">

                @if (ViewBag.seats != null)
                {
                    var temp = 0;

                    @foreach (var seat in ViewBag.seats)
                    {
                        var v = false;
                        if (ViewBag.BookedSeats != null)
                        {
                            @foreach (var i in ViewBag.BookedSeats)
                            {
                                if (i.SeatId == seat.SeatId)
                                {
                                    v = true;
                                    break;
                                }

                            }
                        }
                        if (v)
                        {
                            <button class="ticket_reseveSeat" disabled>@seat.SeatNumber</button>

                        }
                        else
                        {
                            <button type="button" class="ticket_seat" onclick="selectSeat(this)">@seat.SeatNumber</button>

                            <input type="hidden" name="bookedSeats[@seat.SeatId]" value="0" />
                            <input type="hidden" id=@seat.SeatNumber value="@seat.SeatType" />
                        }
                        temp++;
                        @if (temp >= 8)
                        {
                            <br />
                            temp = 0;
                        }
                    }
                }
            </form>


        </div>
        <div class="ticket_sidebar col-4">
            <div class="movie-info card">
                <div class="ticket_card-header text-center">
                    Thanh Toán
                </div>
                @if (ViewBag.ViewTicket != null)
                {

                    <div class="d-flex card-body">
                        <img width="100px" height="150px" id="myImage1" src="https://localhost:5001/@ViewBag.ViewTicket["MovieImageUrl"]" alt="Movie Poster" class="me-3">

                        <input class="ticket_movie-title" id="myTitle1" value="@ViewBag.ViewTicket["MovieTitle"]" readonly />

                    </div>
                    <div id="myCinema1" class="card-body">
                        <p>@ViewBag.ViewTicket["CinemaName"] (@ViewBag.ViewTicket["CinemaLocation"]) - @ViewBag.ViewTicket["ShowtimeHall"]</p>
                        <p>Thời gian: @ViewBag.ViewTicket["FormattedTime"] - @ViewBag.ViewTicket["FormattedDate"]</p>
                    </div>
                    <input type="hidden" id="priceseat" value="@ViewBag.ViewTicket["price"]" />
                    <div id="viewSeat" class="card-body">
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between card-body">

                        <p class="ticket_total">Tổng cộng</p>
                        <p class="ticket_total">
                            <input style="text-align: right; border: none; background: none;" id="totalPrice" type="text" value="0" disabled /> VNĐ
                        </p>
                    </div>
                }

            </div>
            <div class="ticket_action-buttons d-flex justify-content-between">
                <a type="button" class="btn btn-secondary" asp-action="choiceView" asp-controller="tickets" asp-route-id="1">Quay lại</a>
                <button id="checkButton" type="submit" class="btn btn-primary float-end" form="formSeats" disabled>Tiếp tục</button>
            </div>
        </div>
    </div>
</body>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const viewSeat = document.getElementById("viewSeat");
        const checkButton = document.getElementById("checkButton");

        // Quan sát sự thay đổi trong div
        const observer = new MutationObserver(() => {
            // Kiểm tra nếu div có nội dung hoặc thành phần con
            if (viewSeat.children.length > 0) {
                checkButton.disabled = false; // Kích hoạt nút
            } else {
                checkButton.disabled = true; // Vô hiệu hóa nút
            }
        });

        // Thiết lập quan sát
        observer.observe(viewSeat, { childList: true });


    });
    function selectSeat(element) {
        element.classList.toggle('ticket_selected');
        const hiddenInput = element.nextElementSibling;//lay hidden input gan nhat
        const seatType = document.getElementById(element.innerText).value;
        const price = parseFloat(document.getElementById("priceseat").value);
        const totalPrice = parseFloat(document.getElementById("totalPrice").value);
        if (hiddenInput.value == 0) {
            let choiceseatHTML
            if (seatType == "Standard") {
                hiddenInput.value = price;
                choiceseatHTML = `<div id="choiceSeat${element.innerText}" class="d-flex justify-content-between">
                                                         <p>Số ghế:${element.innerText} (Loại ghế:${seatType})</p>
                                                         <p class="ticket_price">${price} VNĐ</p>
                                                        </div>
                                                        `;
                document.getElementById("viewSeat").insertAdjacentHTML("beforeend", choiceseatHTML);
                document.getElementById("totalPrice").value = totalPrice + price;

            } else {
                const temp = price * 1.5;
                hiddenInput.value = temp;
                choiceseatHTML = `<div id="choiceSeat${element.innerText}" class="d-flex justify-content-between">
                                                   <p>Số ghế:${element.innerText} (Loại ghế:${seatType})</p>
                                                   <p class="ticket_price">${temp} VNĐ</p>
                                                   </div>
                                                   `;
                document.getElementById("viewSeat").insertAdjacentHTML("beforeend", choiceseatHTML);
                document.getElementById("totalPrice").value = totalPrice + temp;
            }
        } else {
            hiddenInput.value = 0;
            if (seatType == "Standard") {
                document.getElementById("totalPrice").value = totalPrice - price;
            } else {
                document.getElementById("totalPrice").value = totalPrice - 1.5 * price;
            }
            document.getElementById(`choiceSeat${element.innerText}`).remove();
        }
        // Add more logic to update total price or selection display
    }
</script>